<mat-toolbar class="toolbar" color="primary">

  <mat-toolbar-row>
    <span>Cinema Squire</span>
    <span class="navSpacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon class="navIcon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Reviews</span>
      </button>
      <button mat-menu-item>
        <span>Watch List</span>
      </button>
      <button mat-menu-item>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
    
    <button mat-icon-button [matMenuTriggerFor]="menu2">
      <mat-icon class="navIcon">person</mat-icon>
    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item>
        <span>Login</span>
      </button>
      <button mat-menu-item>
        <span>Create Account</span>
      </button>
      <button mat-menu-item disabled>
        <span>View Profile</span>
      </button>
    </mat-menu>
    
  </mat-toolbar-row>
</mat-toolbar>