/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
    background-image: url('https://i.pinimg.com/originals/05/fc/9b/05fc9b9f508333aa23ecbfc045cab794.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
